$sidebar-width: 290px;

.appLayout {
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  padding: 40px;
  li {
    margin-bottom: 18px;
    font-size: 12px;
    letter-spacing: 0.14em;
  }
  a.active {
    font-weight: 700;
  }
  .logo {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
  }
  .language {
    margin-top: auto;
  }
}

.content {
  margin-left: $sidebar-width;
  padding: 40px 0;
  max-width: calc(100vw - 480px);
}





