$sidebar-width: 290px;
$sidebar-width-small: 200px;

.appLayout {
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  padding: 40px;
  z-index: 10;
  ul {
    background-color: white;
  }
  li {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.14em;
    opacity: .7;
    transition: .3s;
    &:hover {
      opacity: 1;
    }
  }
  a.active {
    font-weight: 700;
  }
  .logo {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
  }
  .language {
    margin-top: auto;
  }
  .menuButton {
    display: none;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    margin-right: 20px;
    background: none;
    border: none;
  }
}

.content {
  margin-left: $sidebar-width;
  padding: 40px 0 40px 0;
}

.page {
  display: flex;
  padding-top: 85px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }


@media (max-width:1281px) { /* hi-res laptops and desktops */
  .navigation {
    width: $sidebar-width-small;
    padding: 20px;
  }
  .content {
    margin-left: $sidebar-width-small;
  }
}
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */
  .content {
    margin-left: 0;
    margin-top: 70px;
    padding: 0;
    width: 100vw;
  }
  .navigation {
    height: 70px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    background-color: white;
    ul {
      width: 200px;
      position: absolute;
      left: 0;
      top: 70px;
      height: calc(100vh - 70px);
      padding: 20px;
      transform: translateX(-100%);
      transition: .3s;
      &.active {
        transform: translateX(0);
      }
    }
    li {
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.07em;
    }
    .logo {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.07em;
    }
    .language {
      margin: 0;
      margin-left: auto;
    }
    .menuButton {
      display: block;
    }
  }
  .page {
    padding: 0 20px;
  }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}


