.appLayout {
  padding: 40px;
}

.wrapper {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.navigation {
  width: 290px;
  li {
    margin-bottom: 18px;
  }
}

.content {

}